
body { 
  overflow-x: hidden;
} 


.navbar{
background-color: white;
}
.nav-brand {
  font-size: 1.5rem !important;
}

.card-custom {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 500px !important;
  margin-top:100px;
}

.form-container button {
  margin-top:10px;
  background-color: black;
  color: white;
}

.form-container button:hover {
  background-color: green;
}


.card-custom:hover {
  transform: scale(0.9);
  cursor: pointer;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.search-form{
  width:75%;
}
.search-input-width {
  width: 60% !important;
}
