
body { 
  overflow-x: hidden;
} 


.navbar{
background-color: white;
}
.nav-brand {
  font-size: 1.5rem !important;
}

.card-custom {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 500px !important;
  margin-top:100px;
}

.form-container button {
  margin-top:10px;
  background-color: black;
  color: white;
}

.form-container button:hover {
  background-color: green;
}


.card-custom:hover {
  transform: scale(0.9);
  cursor: pointer;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.search-form{
  width:75%;
}
.search-input-width {
  width: 60% !important;
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.login-page{
  width: 100%;
  height: 80vh;
  background: url('../public/news2.jpg');
  background-repeat: no-repeat;
}

.signup-page{
  width: 100%;
  height: 80vh;
  background: url('../public/news.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  background: url('../public/news.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 color: white;
}
